@*Strong Typed*@
@using SolutionEMarket.Core.Application.ViewModels.User;
@model SaveUserViewModel;
@{
    ViewData["Title"] = "Register Page";
}

<div class="w-[30rem] shadow shadow-white/50 relative top-[2.5rem] mx-auto bg-white/25 overflow-hidden border-[0.125rem] border-white border-opacity-50 rounded">
    <section class="backdrop-blur-sm">

        <!-- Title -->
        <div class="text-center flex flex-col justify-center items-center text-white mt-5">
            <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="50" height="50">
                <path d="M10.5 14.49v.5h.5v-.5h-.5zm-10 0H0v.5h.5v-.5zm14 .01v.5h.5v-.5h-.5zM8 3.498a2.499 2.499 0 01-2.5 2.498v1C7.433 6.996 9 5.43 9 3.498H8zM5.5 5.996A2.499 2.499 0 013 3.498H2a3.499 3.499 0 003.5 3.498v-1zM3 3.498A2.499 2.499 0 015.5 1V0A3.499 3.499 0 002 3.498h1zM5.5 1A2.5 2.5 0 018 3.498h1A3.499 3.499 0 005.5 0v1zm5 12.99H.5v1h10v-1zm-9.5.5v-1.996H0v1.996h1zm2.5-4.496h4v-1h-4v1zm6.5 2.5v1.996h1v-1.997h-1zm-2.5-2.5a2.5 2.5 0 012.5 2.5h1a3.5 3.5 0 00-3.5-3.5v1zm-6.5 2.5a2.5 2.5 0 012.5-2.5v-1a3.5 3.5 0 00-3.5 3.5h1zM14 13v1.5h1V13h-1zm.5 1H12v1h2.5v-1zM12 11a2 2 0 012 2h1a3 3 0 00-3-3v1zm-.5-3A1.5 1.5 0 0110 6.5H9A2.5 2.5 0 0011.5 9V8zM13 6.5A1.5 1.5 0 0111.5 8v1A2.5 2.5 0 0014 6.5h-1zM11.5 5A1.5 1.5 0 0113 6.5h1A2.5 2.5 0 0011.5 4v1zm0-1A2.5 2.5 0 009 6.5h1A1.5 1.5 0 0111.5 5V4z" fill="currentColor"></path>
            </svg>
            <h1 class="text-3xl text-white text-center mb-4 mt-1 font-bold">
                Register
            </h1>
        </div>

        <!-- Form -->
        <section class="w-full mx-auto">

            <form method="post" asp-controller="User" asp-action="Register" class="w-full flex flex-col justify-between items-center">
                @Html.ValidationSummary(false, "", new {@class="text-red-200"});
                <!-- Name and Surname Section -->
                <section class="w-full flex flex-row justify-between items-center px-2">
                    <div class="flex flex-col justify-center items-center my-2 text-left">
                        <label asp-for="Name" class="text-white w-full">Name: <span asp-validation-for="Name" class="text-red-200"></span></label>
                        <input asp-for="Name" class="text-white p-2 outline-none bg-white/30 rounded" />
                    </div>

                    <div class="flex flex-col justify-center items-center my-2 text-left">
                        <label asp-for="LastName" class="text-white w-full">Last Name: <span asp-validation-for="LastName" class="text-red-200"></span></label>
                        <input asp-for="LastName" class="text-white p-2 outline-none bg-white/30 rounded" />
                    </div>
                </section>

                <!-- Phone and Email section -->
                <section class="w-full flex flex-row justify-between items-center px-2">
                    <div class="flex flex-col justify-center items-center my-2 text-left">
                        <label asp-for="Email" class="text-white w-full">Email: <span asp-validation-for="Email" class="text-red-200"></span></label>
                        <input asp-for="Email" class="text-white p-2 outline-none bg-white/30 rounded" />
                    </div>

                    <div class="flex flex-col justify-center items-center my-2 text-left">
                        <label asp-for="Phone" class="text-white w-full">Phone: <span asp-validation-for="Phone" class="text-red-200"></span></label>
                        <input asp-for="Phone" class="text-white p-2 outline-none bg-white/30 rounded" />
                    </div>
                </section>

                <!-- Username section -->
                <section class="w-full flex flex-row justify-between items-center px-2">
                    <div class="w-full flex flex-col justify-center items-center my-2 text-left">
                        <label asp-for="Username" class="w-full text-white w-full">Username: <span asp-validation-for="Username" class="text-red-200"></span></label>
                        <input asp-for="Username" class="w-full text-white p-2 outline-none bg-white/30 rounded" />
                    </div>
                </section>     
                
                <!-- Password and confirm its value -->
                <section class="w-full flex flex-row justify-between items-center px-2">
                    <div class="flex flex-col justify-center items-center my-2 text-left">
                        <label asp-for="Password" class="text-white w-full">Password: <span asp-validation-for="Password" class="text-red-200"></span></label>
                        <input asp-for="Password" class="text-white p-2 outline-none bg-white/30 rounded" />
                    </div>

                    <div class="flex flex-col justify-center items-center my-2 text-left">
                        <label asp-for="ConfirmPassword" class="text-white w-full">Confirm Password: </label>
                        <input asp-for="ConfirmPassword" class="text-white p-2 outline-none bg-white/30 rounded" />
                    </div>
                </section>

                <span asp-validation-for="ConfirmPassword" class="text-red-200"></span>

                <!-- Buttons Section -->
                <div class="w-full flex flex-row mt-5">
                    <button type="submit" class="w-[50%] py-2 px-3 bg-white/30 text-white hover:bg-white hover:text-teal-500 transition duration-300">
                        Sign up
                    </button>
                    <a asp-controller="User" class="!w-[50%] text-center py-2 px-3 bg-white/30 text-white hover:bg-white hover:text-teal-500 transition duration-300" asp-action="Index" >
                        I have an user
                    </a>
                </div>
            
            </form>

        </section>

    </section>
</div>
